h1 {
    color:crimson;
}

img {
    width: 400px;
}

#thirdDiv {
    margin-left: 20px;
    height: 600px;
    width: 500px;
    background-color:goldenrod;
    padding: 50px;
    border: 10px solid black;
        }

#spanId {
font-size: 18px;
margin: 50px;
}

.divClass {
    margin: 20px;
    padding: 10px;
    border: 4px outset brown;
}